html, body { height: 100%; padding: 0; margin: 0; }
div { width: 100%; height: 90%; float: left; }
#tl1{ height: 30%; background: #5F9EA0; }
#tr2{ background: #20B2AA; }
#tl3{ background: #00CED1; }
#tr4{ background: #48D1CC; }
#tl5{ background: #40E0D0; }
#tr6{ background: #66CDAA; }
#tr7{ background: #B0E0E6; }
html, body {
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

.w3-sidebar {
    height: 100%;
    width: 20%;
    background-color: #fff;
    position: fixed!important;
    z-index: 1;
    overflow: auto;
}

.w3-light-grey, .w3-hover-light-grey:hover, .w3-light-gray, .w3-hover-light-gray:hover {
    color: #000!important;
    background-color: #f1f1f1!important;
}

.w3-bar-block .w3-bar-item {
    width: 100%;
    display: block;
    padding: 8px 16px;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    outline: 0;
}

.w3-container, .w3-panel {
    padding: 0.01em 16px;
}

.w3-teal, .w3-hover-teal:hover {
    color: #fff!important;
}

.w3-container:after, .w3-container:before, .w3-panel:after, .w3-panel:before, .w3-row:after, .w3-row:before, .w3-row-padding:after, .w3-row-padding:before, .w3-cell-row:before, .w3-cell-row:after, .w3-clear:after, .w3-clear:before, .w3-bar:before, .w3-bar:after {
    content: "";
    display: table;
    clear: both;
}

.w3-container:after, .w3-container:before, .w3-panel:after, .w3-panel:before, .w3-row:after, .w3-row:before, .w3-row-padding:after, .w3-row-padding:before, .w3-cell-row:before, .w3-cell-row:after, .w3-clear:after, .w3-clear:before, .w3-bar:before, .w3-bar:after {
    content: "";
    display: table;
    clear: both;
}

#AppointmentTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}

#AppointmentTable td, #AppointmentTable th {
    border: 1px solid #ddd;
    padding: 1px;
}

#AppointmentTable tr:nth-child(even){background-color: #f2f2f2;}

#AppointmentTable tr:hover {background-color: #ddd;}

#AppointmentTable th {
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.AddAppointmentButton {
    background-color: #4d8750; /* Green */
    border: none;
    color: white;
    padding: 1px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 1px 1px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.right {
    float: left;
}


.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}